<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Report Inventory Valued</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/report/report.css">
</head>
<body>
	<body>
	{% for x in inventory %}
		{% for c in x.details %}

			{# {% for j in c.months %} #}
				<header>
					<h4>FORMATO 13.1: "REGISTRO DE INVENTARIO PERMANENTE VALORIZADO - DETALLE DEL INVENTARIO VALORIZADO"</h4>
				</header>
				<article>
					<table>
						<tr>
						<th width="8cm" class="bedreport">PERIODO </th>
						<th width="1cm">:</th><td>{{ c.monthname }} / {{ period }}</td>
						</tr>
						<tr>
							<th width="8cm" class="bedreport">RUC </th>
							<th width="1cm">:</th><td>20428776110</td>
						</tr>
						<tr>
							<th width="8cm" class="bedreport">APELLIDOS Y NOMBRES, DENOMINACION O RAZÓN SOCIAL </th>
							<th width="1cm">:</th><td>ICR PERU S.A.</td>
						</tr>
						<tr>
							<th width="8cm" class="bedreport">ESTABLECIMIENTO</th>
							<th width="1cm">:</th><td>ALMACÉN CENTRAL</td>
						</tr>
						<tr>
							<th width="8cm" class="bedreport">CODIGO DE LA EXISTENCIA</th><th width="1cm">:</th>
							<td>{{ x.materials }}</td>
						</tr>
						<tr>
							<th width="8cm" class="bedreport">TIPO </th>
							<th width="1cm">:</th><td>01 Mercaderías</td>
						</tr>
						<tr>
							<th width="8cm" class="bedreport">DESCRIPCIÓN </th><th width="1cm">:</th><td>{{ x.name }} {{ x.measure }}</td>
						</tr>
						<tr>
							<th width="8cm" class="bedreport">UNIDAD </th>
							<th width="1cm">:</th><td>{{ x.unit }}</td>
						</tr>
						<tr>
							<th width="8cm" class="bedreport">MÉTODO DE EVALUCIÓN</th>
							<th width="1cm">:</th><td>Promedio</td>
						</tr>
					</table>
				</article>
				<br>
				<section>
					<table class="table table-condensed table-hover table-bordered table-report">
						<thead>
							<tr>
								<th class="text-center" colspan="4">DOCUMENTO DE TRASLADO, COMPROBANTE DE PAGO, DOCUMENTO INTERNO O SIMILAR</th>
								<th class="text-center" rowspan="2">TIPO DE OPERACIÓN (TABLA 12)</th>
								<th class="text-center" colspan="3">ENTRADAS</th>
								<th class="text-center" colspan="3">SALIDAS</th>
								<th class="text-center" colspan="3">SALDO FINAL</th>
							</tr>
							<tr>
								<th class="text-center">FECHA</th>
								<th class="text-center">TIPO (TABLA 10)</th>
								<th class="text-center">SERIE</th>
								<th class="text-center">NÚMERO</th>
								<th class="text-center">CANTIDAD</th>
								<th class="text-center">COSTO UNITARIO</th>
								<th class="text-center">COSTO TOTAL</th>
								<th class="text-center">CANTIDAD</th>
								<th class="text-center">COSTO UNITARIO</th>
								<th class="text-center">COSTO TOTAL</th>
								<th class="text-center">CANTIDAD</th>
								<th class="text-center">COSTO UNITARIO</th>
								<th class="text-center">COSTO TOTAL</th>
							</tr>
						</thead>
						<tbody>
							{% for j in c.months %}
								{% if j.type == 'initial' %}
									<tr class="tbody">
										<td class="text-center"></td><td></td><td colspan="2" class="text-center"><strong>SALDO INICIAL</strong></td><td class="text-center">16</td><td class="text-center">{{ j.quantity }}</td><td class="text-center">{{ j.price }}</td><td class="text-right">{{ j.import|floatformat:2 }}</td><td></td><td></td><td></td><td class="text-center">{{ j.endquantity }}</td><td class="text-center">{{ j.endprice }}</td><td class="text-right">{{ j.endimport|floatformat:2 }}</td>
									</tr>
								{% elif j.type == 'ENTRY' %}
									<tr class="tbody">
										<td class="text-center">{{ j.transfer }}</td><td class="text-center">{{ j.doc }}</td><td class="text-center">{{ j.predoc }}</td><td class="text-center">{{ j.postdoc }}</td><td class="text-center">{{ j.operation }}</td><td class="text-center">{{ j.quantity }}</td><td class="text-center">{{ j.price }}</td><td class="text-right">{{ j.import|floatformat:2 }}</td><td></td><td></td><td></td><td class="text-center">{{ j.endquantity }}</td><td class="text-center">{{ j.endprice }}</td><td class="text-right">{{ j.importend|floatformat:2 }}</td>
									</tr>
								{% elif j.type == 'OUTPUT' %}
									<tr class="tbody">
										<td class="text-center">{{ j.transfer }}</td><td class="text-center">{{ j.doc }}</td><td class="text-center">{{ j.predoc }}</td><td class="text-center">{{ j.postdoc }}</td><td class="text-center">{{ j.operation }}</td><td></td><td></td><td></td><td class="text-center">{{ j.quantity }}</td><td class="text-center">{{ j.price }}</td><td class="text-right">{{ j.import|floatformat:2 }}</td><td class="text-center">{{ j.endquantity }}</td><td class="text-center">{{ j.endprice }}</td><td class="text-right">{{ j.importend|floatformat:2 }}</td>
									</tr>
								{% endif %}
								{% empty %}
								<tr>
									<td colspan="14">
										<strong>Not found details</strong>
									</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th class="text-right" colspan="5">TOTALES</th>
								<th class="fteq">{{ c.entryquantityaccum }}</th>
								<th class="success ftep">{{ c.entrypriceaccum }}</th>
								<th class="text-right">{{ c.entryimportaccum|floatformat:2 }}</th>
								<th class="ftsq">{{ c.outputquantityaccum }}</th>
								<th class="success ftsp"> {{ c.outputpriceaccum }}</th>
								<th class="text-right">{{ c.outputimportaccum|floatformat:2 }}</th>
								<th class="success"></th>
								<th class="success"></th>
								<th class="success"></th>
							</tr>
						</tfoot>
					</table>
				</section>
				<pdf:nextpage>
				{# {% empty %} #}
				<!-- <h1>Not found months</h1> -->
			{# {% endfor %} #}
			{% empty %}
			<h1>Not found Details</h1>
		{% endfor %}
		{% empty %}
		<h1>No found <q>Result for period</q></h1>
	{% endfor %}
	</body>
</body>
</html>