{% extends 'base.html' %}
{% block title %}Login CMS Data{% endblock %}
{% block styles %}
<style>
	div.content-login {
		border-radius: 15px;
		border: 1px solid black;
		margin-right: 2.6%;
		margin-left: 2.6%;
		margin-top: 20px;
		padding: 15px;
		position: absolute;
		top: 0px;
	}
	@media (min-width: 768px){
		div.content-login {
			margin-right: 20px;
			right: 0;
			width: 300px;
		}
	}
	@media (max-width: 767px){
		div.content-login {
			position: relative;
		}
	}
</style>
{% endblock %}
{% block menu %}{% endblock %}
{% block content %}

<div class="content-login brand-danger">
	<h2>CMS DATA</h2>
	<form action="" method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<button type="Submit" name="submit" class="btn btn-danger" value="Submit"> Login
		 <span class="glyphicon glyphicon-log-in"></span>
		</button>
		<div class="content-msg">
			<span class="msg">{{msg}}</span>
		</div>
	</form>	
</div>

{% endblock %}