<nav class="navbar">
	<ul class="">
		<li>
			<a href="{% url 'view_home' %}">Home</a>
		</li>
		<li>
			<a href="{% url 'view_add_docin' %}">Document In</a>
		</li>
		<li>
			<a href="{% url 'view_list_entry' %}">List Document Entry</a>
		</li>
		<li>
			<a href="{% url 'view_add_docout' %}">Document Out</a>
		</li>
		<li>
			<a href="{% url 'view_add_mat' %}">Materials</a>
		</li>
		<li>
			<a href="">Unit</a>
		</li>
		<li>
			<a href="{% url 'view_add_sup' %}">Suplier</a>
		</li>
	</ul>
</nav>